<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>ImageR Flask App</title>
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <img class="navbar-logo" src="/static/icon-32.png" alt="logo" />
        <h4 class="navbar-title">ImageR</h4>
      </div>
      <div class="container">
        <h1 class="container-title">Welcome to ImageR for Bug reports!</h1>
        <p class="container-msg">
          Python Flask app is running successfully on http://0.0.0.0:5000. Ready
          to get started?
        </p>
        <header class="soft-small">
          <h3 class="api-header">API:</h3>
          <h3 class="api-name">imager-predict</h3>
          <code class="api-descriptor"
            ><span title="HTTP Method" class="http-method-pill http-method-post"
              >POST</span
            >
            <span class="api-full-uri">
              <span title="API Environment" class="api-environment"
                >http://localhost:5000/imager-predict</span
              >
            </span>
          </code>
          <h3 class="api-name">request example:</h3>
          <pre class="language-json">
            <code class="language-json">
              {
                "summary" : "strange password auto-fill behavior when entering a differently-cased version of the saved username",
                "type" : "defect",
                "description" : "If you try to log in to a site that uses case sensitive usernames and accidentally has Firefox remember
                a username with wrong case there is no way to log in anymore without deleting the saved username/pass.\nReproducible:",
                "platform" : "Desktop",
                "os" : "All",
                "product" : "Toolkit",
                "component" : "Password Manager",
                "version" : "Firefox 110"
              }
            </code>
          </pre>
        </header>
      </div>
    </div>
  </body>
</html>
